#header {
	display: inline-block;
	background-color: white;
	padding-bottom: 25px;
	padding-top: 25px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding: 35px;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
}

#navbar {
	background-color: #001427;
	text-align: center;
	color: white;
	font-size: 24px;
}


#about-container {
	background-image: url(../images/about-img.jpg);
	height: auto; 
}

#about-title {
	font-family: 'Permanent Marker', cursive;
	color: #001427;
}

#about-content {
	background-color: #F4E88D;
	height: auto;
	margin-top: 110px;
	margin-bottom: 55px;
	padding: 15px;
	padding-top: 25px;
	color: #001427;
	text-align: center;
	font-size: 20px;
}

#menu-container {
	background-color: #870000;
	height: auto;
}

.meal {
	text-decoration: underline;
	text-align: center;
	margin-right: 75px;
}

dt {
	font-size: 14pt;
	color: #F4E88D;
}

dd {
	color: white;
}

.left-menu {
	float: left;
}

.right-menu {
	float: right;
}

.menu-section {
	text-align: center;
	background-color: white;
	color: #870000;
	font-family: 'Permanent Marker', cursive;
}

#kids {
	text-align: center;
	background-color: white;
	color: #870000;
	font-family: 'Permanent Marker', cursive;
}

#menu-content {
	height: auto;
	margin-top: 30px;
	padding: 15px;
	color: #F4E88D;
}

#location-container {
	background-color: #001427;
	height: auto;
}

#location-content {
	height: auto;
	margin-top: 30px;
	padding: 15px;
	color: white;
}

.location-section {
	margin-top: 30px;
	text-align: center;
	background-color: white;
	color: #001427;
	font-family: 'Permanent Marker', cursive;
}

.location-head {
	margin-bottom: 0;
	margin-top: 25px;
}

#map-canvas {
	max-width: 500px;
	height: 300px;
	display: inline-block;
}

#deals-container {
	background-color: #708D81;
	height: auto;
}

#deals-content {
	height: auto;
	margin-top: 30px;
	padding: 15px;
	color: #001427;
}

.contact-section {
	margin-top: 30px;
	text-align: center;
	background-color: white;
	color: #708D81;
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
}

.title {
	font-family: 'Oswald', sans-serif;
}

.top {
	color: white;
	text-decoration: underline;
	float: left;
	margin-left: 20px;
	cursor: pointer;
}

#top-container3 {
	margin-top: 25px;
}

#footer-container {
	display: inline-block;
}

#footer-one {
	color: #870000;
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	float: right;
}

a {
	color: #53D8FB;
}

#sm {
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
}

img {
	max-width: 960px;
}